<!doctype html>
<html>
    <head>
        <title>751: Better writing, every day.</title>
        <script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="{{ url_for('static', filename='jquery.autosave.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='jquery.autosize.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='jquery.caret.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='751.js') }}" type="text/javascript"></script>
        <script src='{{ url_for('static', filename='js/flash.js') }}'></script>
        <script src='{{ url_for('static', filename='js/vendor/jQuery.headroom.min.js') }}'></script>
        <script src='{{ url_for('static', filename='js/vendor/headroom.min.js') }}'></script>

        {% block styles %}{% endblock %}
        <link rel='stylesheet' href='{{ url_for('static', filename='inside_style.css') }}' type='text/css' media='all' />

        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <header id="header" class="headroom">
            {% block header %}{% endblock %}
        </header>
        <div id="wrapper">
            {% block content %}{% endblock %}
       </div>
    </body>
</html>
