{% extends "base.html" %}
{% block content %}

  <form action="{{ url_for('get_login') }}" method=post>
        <div class="login-screen">
          <div class="login-form">
            <div class="login-icon">
              <img src="{{ url_for('static', filename="img/icons/svg/pencils.svg") }}" alt="Pencils" />
            </div>
            <div class="login-header">
              <h3>DayWrite</h3>
              <h5>Better writing, every day.</h5>
            </div>

            <div class="form-group">
              <input type="text" class="form-control login-field" value="" placeholder="Email" id="login-name" name="email" />
              <label class="login-field-icon fui-mail" for="login-name"></label>
            </div>

            <div class="form-group">
              <input type="password" class="form-control login-field" value="" placeholder="Password" id="login-pass" name="password" />
              <label class="login-field-icon fui-lock" for="login-pass"></label>
            </div>

            <input class="btn btn-primary btn-lg btn-block" type="submit" value="Log in" />
            <!--<a class="login-link" href="{{ url_for("register") }}">Create a new account</a>-->
            <!--<a class="login-link" href="{{ url_for("forgot_password") }}">Lost your password?</a>-->
          </div>
      </div>
    {% if ref %}
        <input type="hidden" name="next" value="{{ ref }}"/>
    {% endif %}
  </form>
{% endblock %}
