{% extends "inside_base.html" %}

{% block styles %}
    <link rel='stylesheet' href='{{ url_for('static', filename='css/vendor/bootstrap.min.css') }}' type='text/css' media='all' />
    <link rel='stylesheet' href='{{ url_for('static', filename='css/flat-ui.css') }}' type='text/css' media='all' />
{% endblock %}

{% block content %}
    <!--
    <div id="back">
        <a href="/" class="fui-arrow-left"></a>
    </div>
    -->
    <div id="past_status"></div>
    <div id="today">
        <a href="/" id="current" class="fui-new" rel="tooltip" data-toggle="tooltip" data-placement="bottom" title="Today"></a>
    </div>
    <div id="container">
        <span name="content" id="content" cols=40 autofocus>
            {% for post in posts %}
                {% if post.completed %}
                <a href="/{{ post.date_string.replace("-", "/") }}" class="fui-checkbox-checked">&nbsp;<i>"{{ post.blurb }}"</i> ({{post.date|text_date}})</a><br/>
                {% else %}
                <a href="/{{ post.date_string.replace("-", "/") }}" class="fui-checkbox-unchecked incomplete">&nbsp;<i>"{{ post.blurb }}"</i> ({{ post.date|text_date }})</a><br/>
                {% endif %}
            {% endfor %}
        </span>
    </div>
{% endblock %}
