{% extends "inside_base.html" %}
{% block styles %}
    <link rel='stylesheet' href='{{ url_for('static', filename='css/vendor/bootstrap.min.css') }}' type='text/css' media='all' />
    <link rel='stylesheet' href='{{ url_for('static', filename='css/flat-ui.css') }}' type='text/css' media='all' />
{% endblock %}

{% block content %}
    <!--
    <div id="back">
        <a href="#" class="fui-arrow-left"></a>
    </div>
    -->
    <div id="past_status"></div>
    <div id="today">
        <a href="/" id="current" class="fui-new" rel="tooltip" data-toggle="tooltip" data-placement="bottom" title="Today"></a>
    </div>
    <div id="container">
        <span name="content" id="content" cols=40 autofocus>
            {% for p in post.content.split('\n') %}
                <p>{{ p }}</p>
            {% endfor %}
        </span>
    </div>
{% endblock %}
